@page
@model Gmail_Search_Client.Views.Shared.LogoutModel
@{
}

<body>
    <p>You successfully logged out.</p>
    <p><a class="btn btn-info btn-sm" asp-controller="home" asp-action="index">Home</a></p>
</body>